<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
 <link rel="stylesheet" type="text/css" href="css/normalize.css">
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<h1>test</h1>
	<table class="tableau">
	<% let noLigne = 0 %>
	<% for(element of adresse) { %>
 		<% if (noLigne == 0) { %>
			<tr>
				<%noLigne++ %>
			 	<% for (p in element) { %>
					<th><%= p %></th>
			 	<% } %>
			 </tr>
			 <% } %>
		


		 <tr>
		 	<%for (p in element){%>
				<td><%= element[p] %></td>
		 	<% } %>
		 </tr>
		 <% } %>

	</table>
	
	<form action="/ajouter" method="POST">
	  <input type="text" placeholder="nom" name="nom">
	  <input type="text" placeholder="telephone" name="telephone">
	  <button type="submit">Submit</button>
	</form>

	<ul class="adresse">
		 <% for(adr of adresse) {%>
		 <li class="client">
		 <span><%= adr.nom %></span>
		 <span><%= adr.telephone %></span>
		 <span> - <%= adr._id %></span>
		 <a href=http://localhost:8081/detruire/<%= adr._id %> >Détruire </a> "
		 </li>
		 <% } %>
	</ul>

</body>
</html>